# **Exercicios de Python para resolver!**
1ª Exercício: 
Escreva um programa que mostre a mensagem 'Hello World!' na tela.

In [2]:
print ('Hello World!')

Hello World!

2ª Exercício : Faça um programa que solicite um número do usuário e apresente a seguinte mensagem na tela:

"O número digitado foi [número]".

In [3]:
num = input('Digite um número: ')
print(f'O número digitado foi {num}')

#Solução 2
num = float(input('Digite um número: '))
print(f'O número digitado foi {num}')

O número digitado foi 25
O número digitado foi 24.0

3ª Exercício :Escreva um programa que solicite o nome e o sobrenome do usuário. Ao final o programa deverá apresentar o nome completo do usuário na tela.

In [1]:
nome=input('Digite seu primeiro nome: ').strip().title()
sobrenome=input('Digite seu sobrenome: ').strip().title()
print(f'{nome} {sobrenome}')

Victoria Wermelinger

4ª Exercício :Faça um programa que solicite três números inteiros do usuário e imprima a soma destes.

In [5]:
num1=int(input('Número 1: '))
num2=int(input('Número 2: '))
num3=int(input('Número 3: '))
print(f'{num1}+{num2}+{num3}={num1+num2+num3}')

2+2+2=6

5ª Exercício: Escreva um programa que solicite duas notas do usuário e apresente a média na tela da seguinte forma:

"A média das notas [nota1] e [nota2] é [média]"

In [6]:
nota1=float(input('Nota 1: \n'))
nota2=float(input('Nota 2: \n'))
media=(nota1+nota2)/2
print(f'A média das notas {nota1} e {nota2} é {media}')

A média das notas 25.0 e 50.0 é 37.5

6ª Exercício: Faça um programa que calcule a raiz quadrada de um número. O usuário deve inserir um número e o programa deve mostrar na tela o resultado da raiz quadrada do número inserido.

In [7]:
num=float(input('Digite um número: '))
print(f'A raiz quadrada de {num} é {num**(1/2)}')

A raiz quadrada de 55.0 é 7.416198487095663

7ª Exercício: Faça um programa que peça 5 números de ponto flutuante do usuário e apresente no final a média dos números digitados.

In [8]:
num1=float(input('Número 1: '))
num2=float(input('Número 2: '))
num3=float(input('Número 3: '))
num4=float(input('Número 4: '))
num5=float(input('Número 5: '))
media=(num1+num2+num3+num4+num5)/5
print(f'Média: {media}')

Média: 147.6

8ª Exercício: Escreva um programa que faça a conversão de um dado valor de metro para quilômetro.

In [1]:
num=float(input('Digite um valor em metros: '))
print(f'{num} metros equivale a {num/1000} km')

152.0 metros equivale a 0.152 km

9ª Exercício: Escreva um programa que calcule a área de uma circunferência. O usuário deve digitar o valor do raio e ao final o programa deverá mostrar na tela a área da circunferência.

Use a fórmula: área=pi*r² , em que pi é uma constante e r o raio da circunferência.

Dica: você pode usar a biblioteca math para pegar a constante pi.

In [2]:
from math import pi
raio=float(input('Digite o valor do raio da circunferência: '))
print(f'Área da circunferência: {pi*raio**2:.2f}')

Área da circunferência: 706.86

10ª Exercício: Faça um programa que peça uma temperatura em Fahrenheit (F) e converta esta temperatura para grau Celsius (C), mostrando o resultado da conversão na tela.

Use a fórmula: C = 5 * ((F-32) / 9).

In [3]:
f=float(input('Temperatura em Fahrenheit: \n'))
c=5*((f-32)/9)
print(f'{f:.2f}° F equivale a {c:.2f}° C .')

154.00° F equivale a 67.78° C .

11ª Exercício: Escreva um programa que peça dois números e apresente a divisão e multiplicação entre eles. A tela de apresentação deverá seguir o seguinte formato:

"[número1]x[número2]=[multiplicação]"

"[número1]/[número2]=[divisão]"

In [4]:
num1=float(input('Número 1: '))
num2=float(input('Número 2: '))
print(f'{num1}x{num2}={num1*num2}')
print(f'{num1}/{num2}={num1/num2}')

15.0x52.0=780.0
15.0/52.0=0.28846153846153844

12ª Exercício: Escreva um programa que receba o nome, sobrenome e idade do usuário e apresente a seguinte mensagem na tela:

"Seja bem-vindo [nome] [sobrenome]."

"Você possui [idade] anos de idade."
No campo nome e sobrenome utilize os métodos strip() e title(). Lembre-se que o primeiro método permite remover os espaços antes e depois da string, enquanto que o último permite colocar a string no formato titlecased (capitaliza a string).

In [16]:
nome=input('Nome: ')
sobrenome=input('Sobrenome: ')
idade=int(input('Idade: '))
print(f'Seja bem-vindo {nome.strip().title()} {sobrenome.strip().title()}')
print(f'Você possui {idade} anos de idade.')

Seja bem-vindo Victoria Wermelinger
Você possui 32 anos de idade.

13ª Exercício: Escreva um programa que peça um número do usuário via método input e converta esse número para o formato float.

In [17]:
num=input('Digite um número:: ')
num=float(num)
print(type(num))

<class 'float'>

14ª Exercício: Escreva um programa que peça o nome e a idade do usuário. Caso a idade do usuário seja maior ou igual a 18 anos apresente a seguinte mensagem: "Seja bem-vindo ao nosso site [nome]!"; caso contrário, apresente a seguinte mensagem: "Você não pode acessar nosso site [nome].".

In [18]:
nome=input('Digite seu nome: ')
idade=int(input('Digite sua idade: '))
if idade>=18:
    print(f'Seja bem-vindo ao nosso site {nome.strip().title()}.')
else:
    print(f'Você não pode acessar nosso site {nome.strip().title()}.')

Seja bem-vindo ao nosso site Victoria.

15ª Exercício: Elabore um programa para calcular a hipotenusa de um triângulo.

Dicas:
Veja o módulo math (math.hypot) <p>
Utilize a seguinte fórmula: hipotenusa=(a²+b²)¹/2:

In [21]:
from math import hypot

cateto_a=float(input('Digite o Cateto Adjacente: '))
cateto_o=float(input('Digite o Cateto Oposto: '))

hipotenusa1=(cateto_a**2+cateto_o**2)**(1/2)  #forma de cálculo 1
hipotenusa2=hypot(cateto_a,cateto_o)  #forma de cálculo 2

print(f'Hipotenusa: {hipotenusa1}')
print(f'Hipotenusa: {hipotenusa2}')

Hipotenusa: 113.01769772916099
Hipotenusa: 113.01769772916099

16ª Exercício: Faça um programa que recebe um número inteiro do usuário e calcule o fatorial deste número. <br>
Dica: utilize o módulo math do Python, especificamente math.fatorial.

In [22]:
import math
num=int(input('Digite um número inteiro: '))
fatorial=math.factorial(num)
print(f'O fatorial de {num} é {fatorial}')

O fatorial de 5 é 120

17ª Exercício: Escreva um programa que peça um número do usuário e calcule o logaritmo deste número nas bases 10 e 2.

Dica: utilize o módulo math.

In [23]:
import math

num=float(input('Digite um número: '))
log1=math.log10(num)  #também podemos fazer: math.log(num,10)
log2=math.log(num,2)
print(f'O log de {num} na base 10 é {log1}')
print(f'O log de {num} na base 2 é {log2}')

O log de 58.0 na base 10 é 1.7634279935629373
O log de 58.0 na base 2 é 5.857980995127572

18ª Exercício: Faça um programa que peça a base e a altura de um retângulo e calcule e mostre na tela a área e o perímetro.

In [24]:
base=float(input('Digite a base do retângulo: '))
altura=float(input('Digite a altura do retângulo: '))

area=base*altura
perimetro=2*base+2*altura

print(f'O retângulo digitado tem base {base} e altura {altura}.')
print(f'A área deste retângulo é: {area}')
print(f'O perímetro deste retângulo é: {perimetro}')

O retângulo digitado tem base 4.0 e altura 4.0.
A área deste retângulo é: 16.0
O perímetro deste retângulo é: 16.0

19ª Exercício: Escreva um programa que solicite o nome, o sobrenome e o salário atual de um funcionário. Ao fim, calcule seu novo salário considerando cenários hipotéticos, com os seguintes aumentos: 10%, 25%,30% e 50%. A mensagem na tela deverá seguir o seguinte padrão:

"Olá, [nome] [sobrenome]"

"Seu salário atual é : [salário]"

"Seu salário com 10% de aumento é: [salário]"

"Seu salário com 25% de aumento é: [salário]"

"Seu salário com 30% de aumento é: [salário]"

"Seu salário com 50% de aumento é: [salário]"

No campo nome e sobrenome utilize os métodos strip() e title(). Lembre-se que o primeiro método permite remover os espaços antes e após a string, enquanto que o último permite colocar a string no formato titlecased (capitaliza string).

In [25]:
nome=input('Digite seu nome: ').strip().title()
sobrenome=input('Digite seu sobrenome: ').strip().title()
salario=float(input('Digite seu salário: '))
salario1=salario+salario*0.1  #salário com 10% de aumento
salario2=salario+salario*0.25  #salário com 25% de aumento
salario3=salario+salario*0.3  #salário com 30% de aumento
salario4=salario+salario*0.5  #salário com 50% de aumento

print(f'Olá, {nome} {sobrenome}')
print(f'Seu salário atual é: R$ {salario:.2f}')
print(f'Seu salário com 10% de aumento é: R$ {salario1:.2f}')
print(f'Seu salário com 25% de aumento é: R$ {salario2:.2f}')
print(f'Seu salário com 30% de aumento é: R$ {salario3:.2f}')
print(f'Seu salário com 50% de aumento é: R$ {salario4:.2f}')

Olá, Victoria Wermelinger
Seu salário atual é: R$ 15243.00
Seu salário com 10% de aumento é: R$ 16767.30
Seu salário com 25% de aumento é: R$ 19053.75
Seu salário com 30% de aumento é: R$ 19815.90
Seu salário com 50% de aumento é: R$ 22864.50

20ª Exercício: Escreva um programa que peça um número inteiro do usuário e calcule e imprima a tabuada deste número.

In [26]:
num=int(input('Digite um número inteiro: \n'))
print(f'Tabuada do número: {num}')
print(f'{num} x 1 = {num*1}')
print(f'{num} x 2 = {num*2}')
print(f'{num} x 3 = {num*3}')
print(f'{num} x 4 = {num*4}')
print(f'{num} x 5 = {num*5}')
print(f'{num} x 6 = {num*6}')
print(f'{num} x 7 = {num*7}')
print(f'{num} x 8 = {num*8}')
print(f'{num} x 9 = {num*9}')
print(f'{num} x 10 = {num*10}')

Tabuada do número: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

21ª Exercício: Faça um programa que solicite um número inteiro e mostre o seu valor absoluto.
Dica: use a função built-in abs().

In [27]:
num=int(input('Digite um número inteiro: '))
print(f'O valor absoluto de {num} é {abs(num)}.')

O valor absoluto de 25 é 25.

22ª Exercício: Faça um programa que peça uma string ao usuário e mostre na tela a quantidade de caracteres.

Dica: use a função built-in len() e trate a string com o método strip().

In [28]:
string=input('Digite algo: ')
print(f'Você digitou: {string}')
print(f'Quantidade de caracteres do que você digitou é: {len(string)}')

Você digitou: 25
Quantidade de caracteres do que você digitou é: 2

23ª Exercício: Escreva um programa que peça um número inteiro do usuário e mostre se esse número é par ou ímpar. A mensagem na tela deverá seguir o seguinte formato:

"O número [número] é [par/ímpar]"

In [29]:
num=int(input('Número inteiro: '))
if num%2==0:
    print(f'O número {num} é par.')
else:
    print(f'O número é {num} é ímpar.')

O número 52 é par.

24ª Exercício: O Índice de Massa Corporal (IMC) é utilizado para mensurar o peso ideal de uma pessoa. Escreva um programa que peça o nome, a idade , o peso e a altura do usuário. Ao final calcule e mostre o resultado do seu IMC e classifique este resultado de acordo com a regra a seguir.

IMC<17 - Muito abaixo do peso ideal

17<=IMC<18,5 - Abaixo do peso

18,5<=IMC<25 - Peso normal

25<=IMC<30 - Acima do peso

30<=IMC<35 - Obesidade I

35<=IMC<40 - Obesidade II (severa)

IMC>=40 - Obesidade III (mórbida)

Lembre que: IMC=massa/(altura*altura)

Fonte: https://pt.wikipedia.org/wiki/%C3%8Dndice_de_massa_corporal

In [33]:
print('Cálculo do IMC')
altura=float(input('Insira sua altura : \n'))
peso=float(input('Insira seu peso : \n'))
imc=peso/(altura*altura)  #poderíamos fazer peso/altura**2
print('Processando seus dados...')
if imc<17:
    print('Muito abaixo do peso.')
elif 17<=imc<18.5:
    print('Abaixo do peso.')
elif 18.5<=imc<25:
    print('Peso normal.')
elif 25<=imc<30:
    print('Acima do peso.')
elif 30<=imc<35:
    print('Obesidade Grau I.')
elif 35<=imc<40:
    print('Obesidade Grau II (severa).')
else:
    print('Obesidade Grau III (mórbida).')

Cálculo do IMC
Processando seus dados...
Muito abaixo do peso.

25ª Exercício: Escreva um programa que receba dois números de ponto flutuante e mostre na tela o maior número digitado. Considere a possibilidade de o usuário digitar dois números iguais.

In [34]:
n1=float(input('Valor 1 : '))
n2=float(input('Valor 2 : '))
if n1>n2:
    print(f'{n1}>{n2}')
elif n1==n2:
    print(f'{n1}={n2}')
else:
    print(f'{n1}<{n2}')

254.0<524.0

26ª Exercício: Escreva um programa que verifique se um determinado número digitado pelo usuário é nulo, positivo ou negativo.

In [35]:
num=float(input('Digite um número: '))
if num>0:
    print('Número positivo.')
elif num==0:
    print('Número nulo.')
else:
    print('Número negativo.')

Número positivo.

27ª Exercício: Escreva um programa que receba três números do usuário e mostre na tela o maior número digitado.

In [36]:
numero1=float(input('Número 1: '))
numero2=float(input('Número 2: '))
numero3=float(input('Número 3: '))

if (numero1>=numero2) and (numero1>=numero3):
    print(f'Maior número: {numero1}')
elif (numero2>=numero1) and (numero2>=numero3):
    print(f'Maior número: {numero2}')
else:
    print(f'Maior número: {numero3}')

Maior número: 58.0

28ª Exercício: Escreva um programa que gere um número aleatório entre 1 e 100 e mostre na tela.

Dica: utilize o módulo random.

In [37]:
import random
num=random.randint(1,100)
print(num)

32

29ª Exercício: Elabore um progama para verificar se um ano é bissexto ou não. A condição para ser um ano bissexto é: o ano deve ser divisível por 400; ou se for divisível por 4 e não for divisível por 100.

In [38]:
ano=int(input('Ano : '))
if ano%400==0 or (ano%4==0 and not ano%100==0):
    print('Ano bissexto.')
else:
    print('Ano não bissexto.')

Ano não bissexto.

30ª Exercício: Elabore um programa para calcular o tamanho de uma string.

In [39]:
string=input('Digite algo: ')
print(len(string))

2

31ª Exercício: Utilize o módulo datetime e mostre na tela a data e hora atual do sistema de acordo com o formato descrito abaixo.

In [40]:
import datetime

data_atual=datetime.datetime.now()
print(data_atual.strftime('%d/%m/%Y - %H:%M:%S'))

02/05/2024 - 21:59:09

32ª Exercício: Escreva um programa que inverta uma string. Exemplos:

Hello World!<p>
Python<p>
!dlroW olleH<p>
nohtyP<p>

In [41]:
string1='Hello World!'
string2='Python'
print(string1)
print(string2)
print(string1[::-1])
print(string2[::-1])

Hello World!
Python
!dlroW olleH
nohtyP

33ª Exercício: Escreva um programa para mostrar na tela o calendário do mês de dezembro de 2020. Exemplo:

![image.png]()

Dica: importe o módulo calendar.

In [42]:
import calendar
print(calendar.month(2020,12))

   December 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

34ª Exercício: Modifique o programa anterior e permita que o usuário especifique o ano e o mês a serem mostrados na tela.

In [43]:
import calendar
ano=int(input('Ano: '))
mes=int(input('Mês: '))

print(calendar.month(ano,mes))

    August 1991
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

35ª Exercício: Escreva um script que mostre na tela o preço de um produto associado a uma categoria especificada pelo usuário.  Utilize como referência as informações a seguir. Caso o usuário não digite uma categoria válida (número entre 1 e 10) mostre na tela uma mensagem personalizada.

![image.png]()

In [45]:
categoria=int(input('Digite a categoria do produto: '))
if categoria==1:
    print('O preço do produto é: $ 0.5')
elif categoria==2:
    print('O preço do produto é: $ 11.3')
elif categoria==3:
    print('O preço do produto é: $ 17.5')
elif categoria==4:
    print('O preço do produto é: $ 33.97')
elif categoria==5:
    print('O preço do produto é: $ 103.47')
elif categoria==6:
    print('O preço do produto é: $ 44.67')
elif categoria==7:
    print('O preço do produto é: $ 12.55')
elif categoria==8:
    print('O preço do produto é: $ 14.87')
elif categoria==9:
    print('O preço do produto é: $ 98.12')
elif categoria==10:
    print('O preço do produto é: $ 131.4')
else:
    print('Opção inválida.')

O preço do produto é: $ 131.4

36ª Exercício: Resolva o exercício anterior para as categorias de 1 a 8. Utilize estruturas aninhadas.

In [47]:
categoria=int(input('Categoria do produto: '))
if categoria==1:
    print('Preço: $ 0.5')
else:
    if categoria==2:
        print('Preço: $ 11.35')
    else:
        if categoria==3:
            print('Preço: $ 17.5')
        else:
            if categoria==4:
                print('Preço: $ 33.97')
            else:
                if categoria==5:
                    print('Preço: $ 103.47')
                else:
                    if categoria==6:
                        print('Preço: $ 44.67')
                    else:
                        if categoria==7:
                            print('Preço: $ 12.55')
                        else:
                            if categoria==8:
                                print('Preço: $ 14.87')
                            else:
                                print('Categoria inválida.')

Preço: $ 103.47

37ª Exercício: Determine se uma letra inserida pelo usuário é uma vogal ou consoante. Armazene as vogais em uma lista e implemente sua solução. Desconsidere a possibilidade de o usuário inserir números ou caracteres especiais.

In [48]:
letra=input('Digite uma letra: ')
vogais=['a','e','i','o','u']
if letra in vogais:
    print('A letra digitada é uma vogal.')
else:
    print('A letra digitada é uma consoante.')

A letra digitada é uma consoante.

38ª Exercício: Escreva um script para classificar um triângulo de acordo com o tamanho dos seus lados. Considere as seguintes informações:

Triângulo equilátero: todos os lados possuem o mesmo tamanho;

Trângulo escaleno: todos os lados possuem medidas diferentes;

Triângulo isósceles: caracterizado por ter dois lados com o mesmo tamanho.

In [50]:

ladoA=float(input('Lado A: '))
ladoB=float(input('Lado B: '))
ladoC=float(input('Lado C: '))
if ladoA==ladoB==ladoC:
    print('O triângulo é equilátero.')
elif ladoA==ladoB or ladoA==ladoC or ladoB==ladoC:
    print('O triângulo é isósceles.')
else:
    print('O triângulo é escaleno.')

O triângulo é isósceles.

39ª Exercício: Implemente uma calculadora simples com as operações aritméticas básicas. O usuário deverá especificar a operação desejada (+,-,*,/) e seguidamente inserir dois valores. Caso, o usuário escolha divisão e insira o valor do denominar 0 mostre uma mensagem personalizada. Para os demais casos, mostre na tela o resultado da operação desejada.

In [51]:
operacao=input('Escolha a operação deseja: (+,-,*,/)')
if operacao in ['+','-','*','/']:
    num1=float(input('Número 1: '))
    num2=float(input('Número 2: '))
    if operacao=='+':
        print(f'{num1}+{num2}={num1+num2}')
    elif operacao=='-':
        print(f'{num1}-{num2}={num1-num2}')
    elif operacao=='*':
        print(f'{num1}*{num2}={num1*num2}')
    else:
        if num2==0:
            print('O denominador precisa ser diferente de zero.')
        else:
            print(f'{num1}/{num2}={num1/num2}')
else:
    print('Opção inválida.')

25.0+95.0=120.0

40ª Exercício: Escreva um programa que mostre de 1 até 50 na tela.

In [15]:
for num in range(1,51):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

41ª Exercício: Escreva um programa que mostre de 50 até 1 na tela.

In [14]:
for num in range(50,0,-1):
    print(num)

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

42ª Exercício: Escreva um programa que mostre de 150 até 200 na tela.

In [13]:
for num in range(150,201):
    print(num)

150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200

43ª Exercício: Escreva um programa de contagem regressiva, ou seja, imprima na tela o seguinte padrão numérico:

In [12]:
for num in range(5,-1,-1):
    print(num)

5
4
3
2
1
0

44ª Exercício: Faça um programa que imprima na tela de 1 até um número digitado pelo usuário.

In [11]:
num=int(input('Digite um número: '))  #receber número do usuário

for valor in range(1,num+1):
    print(valor)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58

45ª Exercício: Escreva um programa que mostre na tela os 20 primeiros múltiplos de 5.

In [10]:
lista=[]
x=1
#armazenando os números em uma lista
while len(lista)<20:
    if x%5==0:
        lista.append(x)
        x+=1
    x+=1

#mostrando os números na tela
for num in lista:
    print(num)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

46ª Exercício: Utilizando estruturas de repetição escreva um programa que mostre os resultados da tabuada (multiplicação) de um número inserido pelo usuário.

In [9]:
valor=int(input('Tabuada:'))
for num in range(1,11):
    print(f'{valor} x {num} = {valor*num}')

58 x 1 = 58
58 x 2 = 116
58 x 3 = 174
58 x 4 = 232
58 x 5 = 290
58 x 6 = 348
58 x 7 = 406
58 x 8 = 464
58 x 9 = 522
58 x 10 = 580

47ª Exercício: Utilizando estruturas de repetição escreva um programa que mostre os resultados da tabuada de multiplicação dos números entre 1 e 10, como segue.

![image.png]()
"""

In [8]:
for valor in range(1,11):
	for numero in range(1,11):
		print(f'{valor} x {numero} = {valor*numero}')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

48ª Exercício: Em um único loop escreva um programa que mostre na tela de 1 a 10 três vezes e ao final mostre a mensagem Fim . No primeiro loop utilize for e nos dois loops seguintes while. O resultado do seu programa deverá ter o seguinte formato:

In [7]:
#solução 1
x=1
for i in range(1,11):
    print(i)
    if i==10:
        while x<=10:
            print(x)
            x+=1
            if x==11:
                y=1
                while y<=10:
                    print(y)
                    y+=1
                    if y==11:
                        print('Fim')

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
Fim

49ª Exercício: Escreva um programa que peça ao usuário números entre 0-10. Se o usuário inserir um número fora desse intervalo o programa deverá finalizar com uma mensagem personalizada.

In [6]:
num=0
while 0<=num<=10:
    num=int(input('Insira um número inteiro entre 0-10: '))
    if num<0 or num>10:
        print('Fim do programa.')

Fim do programa.

50ª Exercício: Em um único loop escreva um programa que mostre na tela de 0-5, cinco vezes e ao final mostre a mensagem Fim . Utilize apenas for em sua implementação. Seu programa deverá gerar um output com o seguinte formato:

In [5]:
for i in range(0,6):
    print(i)

    if i==5:
        for j in range(0,6):
            print(j)

            if j==5:
                for k in range(0,6):
                    print(k)

                    if k==5:
                        for l in range(0,6):
                            print(l)

                            if l==5:
                                for m in range(0,6):
                                    print(m)

                                    if m==5:
                                        print('Fim')

0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
Fim